.x-small{
    font-size: 10px;
}
.invalid-feedback {
    display: block !important;
    margin-left: 4px !important;
}

.title-n{
    font-size: 25px;
    font-weight: 700;
}

.t-item {
    font-size: 25px;
    font-weight: 500;
}

.t-value {
    font-size: 25px;
    font-weight: 500;
    color: tomato;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}