*{transition:all 0.3s ease-in-out;}

.nav {
    height: 120px;
    margin: -8px -8px 0px -8px;
    display: flex;
    align-items: center;
    background-color: rgb(208,29,155);
    color: white;
    font-weight: 600;
    margin-bottom: 0px;
  }

.bg-my {
  background-color: rgb(208,29,155);
}

.nl-my {
color: snow !important;
font-size: 30px;
}

.nl-my:hover {
  color: rgb(45,43,85) !important;
  text-shadow: 2px 2px 10px salmon !important;
}

.count-box{
  position: relative;
  left: 75px;
  bottom: 15px;
  font-size: 20px;
  font-weight: 700;
  background-color: tomato;
  z-index: 20;
  border-radius: 50px;
  width: 40px;
  padding: 5px;
}

.cart-box {
  cursor: pointer;
  outline: none;
}

.cart-box:hover {
color: white;
text-shadow: 10px 10px 20px 20px gold;
}