<nav class="navbar navbar-expand-lg navbar-dark bg-my">
  <div class="container">
    <a class="navbar-brand " routerLink="/">
      <img src="/assets/img/logo.png" width="200" height="100" class="d-inline-block align-top" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nl-my" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nl-my" routerLink="/store">Store</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link nl-my" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link nl-my" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="isLogged">
          <a class="nav-link nl-my" routerLink="/profile">Welcome, {{getUsername()}}!</a>
        </li>
        <li class="nav-item">
          <div routerLink="store/cart" class="cart-box mx-auto">
            <span class="count-box">{{cartItemsCount}}</span>
            <img src="/assets/img/cart.png">
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>