*{transition:all 0.3s ease-in-out;}

.nav {
    height: 120px;
    margin: -8px -8px 0px -8px;
    display: flex;
    align-items: center;
    background-color: rgb(208,29,155);
    color: white;
    font-weight: 600;
    margin-bottom: 0px;
  }

// .nav{
//   clear:both;
//   overflow:auto;
//   background-color: rgb(208,29,155);
//   margin: 0;
// }

.bg-my {
  background-color: rgb(208,29,155);
}

.nl-my {
color: snow !important;
font-size: 30px;
}

.nl-my:hover {
  color: rgb(45,43,85) !important;
  text-shadow: 2px 2px 10px salmon !important;
}