<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Order Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody  *ngIf="(orders$ | async) as oldOrders">
        <tr @orderTrigger *ngFor="let order of oldOrders; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>
                <div *ngFor="let item of order.orderItems">
                    {{item.name}}
                </div>
            </td>
            <td>
                <div class="col-1">
                    <div *ngFor="let item of order.orderItems">
                        {{item.quantity}}
                    </div>
                </div>
            </td>
            <td>{{order.price}}</td>
            <td>{{order.date}}</td>
            <td>{{order.status}}</td>
        </tr>
    </tbody>
</table>