<div class="container">
    <div class="row text-center">
        <div class="col-1">#</div>
        <div class="col-6">Item</div>
        <div class="col-1">Quantity</div>
        <div class="col-1">Price</div>
        <div class="col-2">Order Date</div>
        <div class="col-1">Status</div>
    </div>
</div>
<div class="container" *ngIf="(orders$ | async) as oldOrders">
    <div class="row py-2 text-center" *ngFor="let order of oldOrders; let i = index">
        <div class="col-1">{{i+1}}</div>
        <div class="col-6">
            <div *ngFor="let item of order.orderItems">
                {{item.name}}
            </div>
        </div>
        <div class="col-1">
            <div *ngFor="let item of order.orderItems">
                {{item.quantity}}
            </div>
        </div>
        <div class="col-1">
            {{order.price}}
        </div>
        <div class="col-2">
            {{order.date}}
        </div>
        <div class="col-1">
            {{order.status}}
        </div>
    </div>
</div>