<footer class="page-footer font-small navbar fixed-bottom m-0">
    <div class="container">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-4 pt-2">
                    <img src="../../../../assets/img/logo-2.png" alt="logo" height="200px" width="200px">
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <a routerLink="/store">Store</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0">
                    <h5 class="text-uppercase">extra</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="/item/add">Add New Item</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>