<footer class="font-small">
    <div class="container">
            <div class="row pt-3">
                <div class="col-4">
                    <img src="../../../../assets/img/logo-2.png" alt="logo" height="200px" width="200px">
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-4">
                    <h5 class="text-uppercase">Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="/">Home</a>
                        </li>
                        <li>
                            <a routerLink="/store">Store</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <h5 class="text-uppercase">extra</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="/item/add">Add New Item</a>
                        </li>
                    </ul>
                </div>
        </div>
    </div>
</footer>