.btn-logout {
    background-color: rgba(211, 24, 24, 0.9);
}

.btn-logout:hover{
   color:snow;
   background-color: rgba(211, 24, 24, 0.5); 
}

.btn-option{
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
}
